<h1>Websites</h1>
	<nav class="navbar navbar-dark bg-primary fixed-top">
		<a class="navbar-brand" href="../user/profile.html"><i class="fas fa-angle-left"></i></a>
		<a class="navbar-brand " href="Website-list.html"><strong>Websites</strong></a>
		<a class="navbar-brand" href="Website-new.html"><i class="fas fa-plus"></i></a>
	 </nav>
	
    <div class="container-fluid">
        <ul class="list-group">
			<li class="list-group-item">
		  		<a href="../page/page-list.html">Adress Book App</a>
		  		<a href="website-edit.html" ><i class="fas fa-cog fa-spin float-right"></i></a>
		  	</li>
	     	<li class="list-group-item">
		  		<a href="../page/page-list.html">Adress Book App</a>
		  		<a href="website-edit.html" ><i class="fas fa-cog fa-spin float-right"></i></a>
		  	</li>
		  	<li class="list-group-item">
		  		<a href="../page/page-list.html">Adress Book App</a>
		  		<a href="website-edit.html" ><i class="fas fa-cog fa-spin float-right"></i></a>
		  	</li>
		  	<li class="list-group-item">
		  		<a href="../page/page-list.html">Adress Book App</a>
		  		<a href="website-edit.html" ><i class="fas fa-cog fa-spin float-right"></i></a>
		  	</li>
				 </ul>

			 
			<br>
		
	</form>
    </div>
	<br>

     <nav class="navbar navbar-dark bg-primary ">
     	<div class="sw-width-1">
     	 <a class="sw-font-white float-right " href="../User/profile.html"><i class="fas fa-user" ></i></a>
     	</div>
       
	  	
     </nav>